<?xml version="1.0"?>
<launch>
    <node pkg="point_cloud_object_detector" type="point_cloud_object_detector_node" name="object_detector" output="screen" >
        <param name="tolerance" value="0.2" type="double"/>
        <param name="min_cluster_size" value="100" type="int" />
        <param name="max_cluster_size" value="9000" type="int" />
        <param name="low_target_y" value="1000" type="double" />
        <param name="high_target_y" value="-1000" type="double" />
    </node>
    <include file="/home/amsl/catkin_ws/src/darknet_ros/darknet_ros/launch/wrs.launch">
    </include>
</launch>
