<?xml version="1.0"?>

<launch>
    <arg name="filename" default=""/>
    <arg name="roomba" default=""/>

    <node pkg="rosbag" type="record" name="record" args="-O /home/amsl/bagfiles/with_yolo2/$(arg filename).bag /roomba$(arg roomba)/roomba/odometry /roomba$(arg roomba)/scan /roomba$(arg roomba)/camera/color/image_rect_color /roomba$(arg roomba)/object_positions" output="screen" />

</launch>
